.container {
	max-width: 1200px;
	margin: 0 auto;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.input-search {
	background-attachment: #ffffff;
	border: 1px solid #d9d9d9;
	border-radius: 2px;
}
