* {
	box-sizing: border-box;
}

body {
	font-family: "Roboto", sans-serif;
	padding-top: 40px;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.input {
	background-attachment: #ffffff;
	border: 1px solid #d9d9d9;
	border-radius: 2px;
	font-size: 16px;
	line-height: 24px;
	padding: 8px;
	padding-left: 35px;
	background-position: left 11px center;
}
.input-adress {
	width: 690px;
	background-image: url(../img/home-search.svg);
	background-repeat: no-repeat;
}

.input-search {
	background-image: url(../img/search.svg);
	background-repeat: no-repeat;
	width: 300px;
}

.buttons {
	display: flex;
	align-items: center;
}

.buttons {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	margin-left: 30px;
}
.button {
	background-color: #1890ff;
	border-radius: 2px;
	border: 1px solid #1890ff;
	color: #fff;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 8px 16px;
	line-height: 24px;
	font-size: 16px;
	outline: 0;
	cursor: pointer;
}
.button-gray {
	border: 1px solid #d9d9d9;
	background-color: #fff;
	margin-left: 9px;
	-webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.0015);
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.0015);
	color: #595959;
}
.button-gray img {
	margin-right: 6px;
}

.promo {
	box-shadow: 0px 7px 12px rgba(158, 158, 163, 0.01);
	background: #fff1b8 url(/img/picca.png) no-repeat top right -247px / 924px;
	border-radius: 10px;
	padding: 68px 70px;
	margin-top: 40px;
}

.promo-title {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	line-height: 46px;
	color: #302c34;
}

.promo-subtitle {
	width: 538px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 28px;
	color: #302c34;
}

.restaurants {
	margin-top: 25px;
}

.section-heading {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 44px;
}

.section-title {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 42px;
	color: #000000;
}

.cards {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	justify-content: space-between;
}

.card {
	background: #ffffff;
	border-radius: 7px;
	overflow: hidden;
	box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
	border-radius: 7px;
	margin-bottom: 45px;
	cursor: pointer;
}

.card-image {
	width: 384px;
	height: 250px;
	object-fit: cover;
}

.card-text {
	padding-top: 20px;
	padding-bottom: 35px;
	padding-left: 23px;
	padding-right: 23px;
}

.card-heading {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.card-title {
	margin: 0;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 32px;
}

.card-tag {
	color: #ffffff;
	background: #262626;
	border-radius: 2px;
	padding: 1px 8px;
}

.card-info {
	display: flex;
	align-items: center;
	margin-right: 25px;
}

.card-rating {
	font-weight: bold;
	font-size: 18px;
	line-height: 32px;
	color: #ffc107;
	margin-right: 10px;
}

.card-price {
	font-size: 18px;
	line-height: 32px;
	color: #8c8c8c;
	margin-right: 10px;
}

.card-price:after {
	content: "";
	width: 5px;
	height: 5px;
	background: #8c8c8c;
	display: inline-block;
	vertical-align: middle;
	border-radius: 50%;
	margin-left: 10px;
}

.card-price,
.card-category {
	color: #8c8c8c;
	font-style: 18px;
	line-height: 32px;
}

.card-info {
	margin-right: 10px;
}
